body {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: unset;
    width: 100vw;
}

main {
    border: 1px solid #333;
    min-height: 80%;
    width: 960px;
}

.divide-row {
    
}

.tut-row {
    height: 240px;
    width: 100%;
}
